each val, index in data
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col
    a(href= val.url target="_blank" style="text-decoration:none")
      h2= val.name
    img(src= val.image_url).pic
    p= val.snippet_text
    img(src= val.rating_img_url)
    span.pull-right
      span  going( <span> #{val.going} </span> ) 
        if val.userMade
          button(id= val.id class='userG').going  I'm Out
        else
          button(id= val.id).going Add me