extends layout

block content
  .container.text-center
    header
      h1 what's up in your area 
        |  find what people are doing toKnight
      button.login login
      .form-group.has-feedback.has-feedback-left
        input.form-control(type='text' placeholder="location")
        i.glyphicon.glyphicon-search.form-control-feedback(style="pointer-events:auto;cursor:pointer")
    
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      
   
      
      
      
      
  
