extends layout

block content
  .container.text-center
    header
      h1 what's up in your area 
        |  find out where people are doing <span class="knight">toKnight</span>
      button.login login
      form(action="#")
        .form-group.has-feedback.has-feedback-left
          input.form-control.searchfield(type='text' placeholder="location" required)
          i.glyphicon.glyphicon-search.form-control-feedback(style="pointer-events:auto;cursor:pointer")
    
    .row.results
      
      
   
      
      
      
      
  
